.shadow{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}
.login{
    position:relative;
    width:400px;
    height:300px;
    margin:200px auto;
}
.login .header h2{
    text-align:center;
    font-size:24px;
    font-family:"微软雅黑";
    margin-bottom:35px;
}
.content{
    text-align:center;
    padding:10px;

}
.content label{
    display:inline-block;
    min-width:70px;
    text-align:left;
    font-size:18px;
    font-family:"微软雅黑";
}
.content input{
    padding:6px;
    width:200px;
    color:#aaa;
}
.regin{
    width:45px;
    height:30px;
    cursor:pointer;
    border:1px solid #ccc;
    box-shadow: 1px 1px 2px #aaa;
    border-radius:6px;
    text-align:center;
    line-height:30px;
    position:absolute;
    top:200px;
    left:130px;
}
.signup{
    width:45px;
    height:30px;
    cursor:pointer;
    border:1px solid #ccc;
    box-shadow: 1px 1px 2px #aaa;
    border-radius:6px;
    text-align:center;
    line-height:30px;
    position:absolute;
    top:200px;
    left:210px;
}
.sign{
    position:relative;
    width:350px;
    height:650px;
    margin:150px auto;
}
.sign p{
    font-size:18px;
    font-family:"微软雅黑";
}
.sign input{
    padding:6px;
    width:235px;
    border-radius:6px;
}
.sign .confirm{
    position:absolute;
    left:20px;
    bottom:100px;
    border:1px solid black;
    border-radius:6px;
    width:80px;
    height:30px;
    text-align:center;
    line-height:30px;
    cursor:pointer;
}
.sign .back{
    width:80px;
    height:30px;
    position:absolute;
    left:130px;
    bottom:100px;
    border:1px solid black;
    border-radius:6px;
    text-align:center;
    line-height:30px;
}
.sign .back a{
    color:black;
    text-decoration: none;
}
